@model SprixProject.ViewModel.AnimationViewModel

@{
    ViewBag.Title = "AnimationDummy";
}

@section Title{<h2>Dummy @Model.algoDetails.AlgorithmName</h2>}

@section Content {


    @* Separate the algorithms by its different types *@

    @* SORT TYPES *@
    @if (Model.algoDetails.AlgorithmType == 1)
    {
        @* Merge sort *@
        if (Model.algoDetails.AlgorithmId == 6)
        {
            @Html.Partial("_MergeSortAnimationPartial", Model)
        }
        @* Insertion sort *@
        else if (Model.algoDetails.AlgorithmId == 7)
        {
            @Html.Partial("_InsertionSortAnimationPartial", Model)
        }
        @* Bubble sort *@
        else if (Model.algoDetails.AlgorithmId == 8)
        {
            @Html.Partial("_BubbleSortAnimationPartial", Model)
            }

        }
    @* KNAPSACK TYPES*@
    else if (Model.algoDetails.AlgorithmType == 2)
    {
        @* Knapsack animation goes here *@
        @Html.Partial("_KnapsackAnimationPartial", Model)
    }
    @* DYNAMIC PROGRAMMING TYPES *@
    else if (Model.algoDetails.AlgorithmType == 3)
    {

    }
}

@section SideNavBar {

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Dummy
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
}

@section Test {}

@section scripts {
    @Styles.Render("~/Content/Items/cube.css")
    @*@Scripts.Render("~/Scripts/MergeSort/MergeSortAnimation.js")*@
    @Scripts.Render("~/Scripts/MergeSort/mergeSortTest.js")
    @Styles.Render("~/Content/Animation/mergeSortAnimationStyle.css")
    @Scripts.Render("~/Scripts/BubbleSort/BubbleSortAnimation.js")
    @Styles.Render("~/Content/Animation/bubbleSortAnimationStyle.css")
    @Styles.Render("~/Content/Animation/algorithmAnimationStyle.css")
}