@model SprixProject.ViewModel.AnimationViewModel

@{
    ViewBag.Title = "KnapsackAnimation";
}

@section Title{
    <h2>@Model.algoDetails.AlgorithmName</h2>
}

@section Content{

    @* Hidden values for the knapsack algorithm *@
    <input type="hidden" name="noOfIndex" id="noOfIndex" value="@Model.noOfIndex" />
    <input type="hidden" name="capacity" id="capacity" value="@Model.knapsackAnimationData.Capacity" />

    @for (int i = 0; i < Model.knapsackAnimationData.Items.Count(); i++)
    {
        var indexVal = i + 1;
        <input type="hidden" name=@("itemWeight_" + indexVal) id=@("itemWeight_" + indexVal) value="@Model.knapsackAnimationData.Items[i].Weight">
        <input type="hidden" name=@("itemBenefit_" + indexVal) id=@("itemBenefit_" + indexVal) value="@Model.knapsackAnimationData.Items[i].Benefit">
    }

    @Html.Partial("_KnapsackAnimationPartial", Model)

}

@section SideNavBar {
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                @Html.Encode(Model.algoDetails.ParadigmType)
            </li>
            @foreach (var item in Model.algoNavBar)
            {
                <li>
                    <a href="#">
                        @Html.ActionLink(item.Name, "AlgorithmDetails", "Algorithm", new { id = item.Id }, null)
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

}

@section scripts {
    @Scripts.Render("~/Scripts/Knapsack/KnapsackProblem.js")
    @Styles.Render("~/Content/Animation/knapsackAnimationStyle.css")

}