@model SprixProject.ViewModel.AnimationViewModel

@{
    ViewBag.Title = "SortAnimation";
}

@section Title{
    <h2>@Model.algoDetails.AlgorithmName</h2>
}

@section Content{

    @* Hidden values that stores values from form *@
    <input type="hidden" name="noOfIndex" id="noOfIndex" value="@Model.noOfIndex" />

    @for (int i = 0; i < Model.sortAnimationData.IndexValues.Count(); i++)
    {
        var indexVal = i + 1;
        <input type="hidden" name=@("index_" + indexVal) id=@("index_" + indexVal) value="@Model.sortAnimationData.IndexValues[i]">
    }

    @* Merge sort *@
    @if (Model.algoDetails.AlgorithmId == 6)
    {
        @Html.Partial("_MergeSortAnimationPartial", Model)
    }
    @* Insertion sort *@
    else if (Model.algoDetails.AlgorithmId == 8)
    {
        @Html.Partial("_InsertionSortAnimationPartial", Model);
    }

}

@section SideNavBar {

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                @Html.Encode(Model.algoDetails.ParadigmType)
            </li>
            @foreach (var item in Model.algoNavBar)
            {
                <li>
                    <a href="#">
                        @Html.ActionLink(item.Name, "AlgorithmDetails", new { id = item.Id })
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

}

@section scripts {
    @Scripts.Render("~/Scripts/MergeSort/mergeSortTest.js")
    @Scripts.Render("~/Scripts/InsertionSort/insertionSortAnimation.js")
    @Styles.Render("~/Content/Animation/mergeSortAnimationStyle.css")


}

