@model SprixProject.ViewModel.AlgorithmViewModel
@Scripts.Render("~/Scripts/jquery_form.js")

@*sort type form*@
@if (Model.algoDetails.FormType == 1)
{
    @* TODO; need to validate these forms to only input integer values *@
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2>@Html.Encode(Model.algoDetails.AlgorithmName)</h2>
            <hr />

            <h4>Enter the values below</h4>
            <hr />

            @using (Html.BeginForm("SortAnimation", "Animations", new { id = Model.algoDetails.AlgorithmId }, FormMethod.Post))
            {
                <fieldset class="form-group">
                    <label for="inputVal">Index value</label>
                    <input type="text" class="form-control" name="indexValue_1" id="indexValue_1" placeholder="Enter value" />
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" name="indexValue_2" id="indexValue_2" placeholder="Enter value" />
                </fieldset>
                <div id="newFieldsHere"></div>
                <fieldset class="form-group">
                    <input type="button" id="sortButtonAdd" value="Add" class="btn" onClick="AddOneMoreTextBox(this.id)" />
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-md-offset-5 col-lg-4">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </fieldset>
            }

            <p>@Html.ActionLink("Dummy sort", "AnimationDummy", "Algorithm", new { Id = 8 }, null)</p>
            <p>@Html.ActionLink("Dummy knapsack", "AnimationDummy", "Algorithm", new { Id = 1 }, null)</p>
        </div>

        <div class="col-lg-4"></div>

    </div>

}
else if (Model.algoDetails.FormType == 2)
{
    <div class="col-lg-12">

        <div class="col-lg-4"></div>

        <div class="col-lg-4">
            <h2>@Html.Encode(Model.algoDetails.AlgorithmName)</h2>
            <hr />

            <h4>Enter the values below</h4>
            <hr />

            @using (Html.BeginForm("KnapsackAnimation", "Animations", new { id = Model.algoDetails.AlgorithmId }, FormMethod.Post))
            {
                <input type="hidden" name="noOfKnapsackInput" id="noOfKnapsackInput" value="2">
                <fieldset class="form-group">
                    <label for="knapsackCapacity">Knapsack capacity</label>
                    <input type="text" class="form-control" name="capacityValue" id="capacityValue" placeholder="Enter value" />
                </fieldset>

                <fieldset class="form-group">
                    <label for="itemWeight">Item's weight</label>
                    <input type="text" class="form-control" name="itemWeight_1" id="itemWeight_1" placeholder="Enter value" />
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" name="itemWeight_2" id="itemWeight_2" placeholder="Enter value" />
                </fieldset>
                <div id="newFieldsHere2"></div>
                <fieldset class="form-group">
                    <input type="button" id="knapsackButtonAdd" value="Add" class="btn" onClick="AddOneMoreTextBox(this.id)" />
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-md-offset-5 col-lg-4">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </fieldset>
            }

        </div>

        <div class="col-lg-4"></div>


    </div>


}
