@model SprixProject.ViewModel.AlgorithmViewModel

@{
    ViewBag.Title = "AlgorithmDetails";
}

@section Title{}

@section Content {

    @Html.Partial("_AlgorithmDetailsPartial", Model)

}

@section SideNavBar {

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                @Html.Encode(Model.algoDetails.ParadigmType)
            </li>
            @foreach (var item in Model.algoNavBar)
            {
                <li>
                    <a href="#">
                        @Html.ActionLink(item.Name, "AlgorithmDetails", new { id = item.Id })
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

}

@section Test {
    <p>Test links go here</p>
    <p>@Html.ActionLink("Knapsack Problem", "AnimationDummy", "Algorithm", new { Id = 1 }, null)</p>
    <p>@Html.ActionLink("Matrix multiplication", "AnimationDummy", "Algorithm", new { Id = 3 }, null)</p>
    <p>@Html.ActionLink("Rod cutting problem", "AnimationDummy", "Algorithm", new { Id = 5 }, null)</p>
    <p>@Html.ActionLink("Dummy sort", "AnimationDummy", "Algorithm", new { Id = 8 }, null)</p>
    <p>@Html.ActionLink("Merge sort", "AnimationDummy", "Algorithm", new { Id = 6 }, null)</p>


}

