@model SprixProject.ViewModel.AnimationViewModel

@{
    ViewBag.Title = "AnimationDummy";
}

@section Title{<h2>Dummy @Model.algoDetails.AlgorithmName</h2>}

@section Content {


    @* Separate the algorithms by its different types *@

    @if (Model.algoDetails.AlgorithmType == 1)
    {
        @* Merge sort *@
    if (Model.algoDetails.AlgorithmId == 6)
    {
        @Html.Partial("_MergeSortAnimationPartial", Model)
    }
    else
    {
        <div class="col-md-12">
            <div id="inHere">
                <div class="index" id="index1">2</div>
                <div class="index" id="index2">1</div>
                <div class="index" id="index3">0</div>
                @*<div class="index" id="index4">1</div>
                    <div class="index" id="index5">0</div>*@
            </div>
            <input type="button" id="btnTest" class="btn btn-primary" value="Submit" />
        </div>
        }

    }
    else if (Model.algoDetails.AlgorithmType == 2)
    {
        @* Knapsack animation goes here *@
        @Html.Partial("_KnapsackAnimationPartial", Model)
    }
    else if (Model.algoDetails.AlgorithmType == 3)
    {

    }
}

@section SideNavBar {

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Dummy
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
}

@section Test {}

@section scripts {
    @Styles.Render("~/Content/Items/cube.css")
    @Scripts.Render("~/Scripts/MergeSort/MergeSortAnimation.js")
    @Scripts.Render("~/Scripts/MergeSort/mergeSortTest.js")
    @Styles.Render("~/Content/Animation/mergeSortAnimationStyle.css")
}